{% extends 'unfold/layouts/base_simple.html' %}

{% load i18n unfold %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% if subtitle %}
        {{ subtitle }} |
    {% endif %}

    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4 mb-6">
        {% for status in status_data %}
            <div class="flex-shrink-0">
                <div class="h-30 flex flex-col justify-center">
                    {% component "unfold/components/card.html" %}
                        {% component "unfold/components/text.html" with class="text-sm text-gray-600 dark:text-gray-400" %}
                            {{ status.title }}
                        {% endcomponent %}

                        {% if status.title == 'Отклонено' %}
                            {% component "unfold/components/title.html" with class="text-2xl font-bold mt-1 text-red-500 dark:text-red-500" %}
                                {{ status.count }}
                            {% endcomponent %}
                        {% elif status.title == 'Выплачено' %}
                            {% component "unfold/components/title.html" with class="text-2xl font-bold mt-1 text-primary-500 dark:text-primary-500" %}
                                {{ status.count }}
                            {% endcomponent %}
                        {% else %}
                            {% component "unfold/components/title.html" with class="text-2xl font-bold mt-1 text-base-600" %}
                                {{ status.count }}
                            {% endcomponent %}
                        {% endif %}
                    {% endcomponent %}
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mb-6">
        {% for stats in performance %}
            {% component "unfold/components/card.html" %}
                {% component "unfold/components/text.html" %}
                    {{ stats.title }}
                {% endcomponent %}

                {% component "unfold/components/title.html" with class="mb-6" %}
                    {{ stats.metric }}
                {% endcomponent %}

                {% if stats.footer %}
                    <div class="text-sm text-muted mb-4">
                        {{ stats.footer|safe }}
                    </div>
                {% endif %}

                {% component "unfold/components/chart/line.html" with data=stats.chart options=stats.options %}{% endcomponent %}
            {% endcomponent %}
        {% endfor %}
    </div>
{% endblock %}
